.obj{
    position: fixed;
    z-index: -458485;
    border-radius: 50%;
}

.obj1{
    width: 200px;
    height: 200px;
    left: 20%;
    top: 50%;
    box-shadow: black 0px 0px 50px;
}

.obj2{
    width: 300px;
    height: 300px;
    right: 20%;
    top: 20%;
    box-shadow: black 0 0 50px;
}

.obj3{
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    box-shadow: black 0 0 50px;
}

.obj4{
    width: 100px;
    height: 100px;
    left: 5%;
    top: 20%;
    box-shadow: black 0 0 50px;
}

.obj5{
    width: 75px;
    height: 75px;
    right: 5%;
    top: 20%;
    box-shadow: black 0px 0px 50px;
}

.obj6{
    width: 50px;
    height: 50px;
    left: 40%;
    top: 30%;
    box-shadow: black 0px 0px 50px;
}

.banner{
    background-image: url('../imgs/banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.padtop-100{
    padding-top: 100px;
}