html {
    scroll-behavior: smooth;
}

body{
    overflow: overlay;
}

.obj {
    position: fixed;
    z-index: -458485;
    border-radius: 50%;
}

.obj1 {
    width: 200px;
    height: 200px;
    left: 20%;
    top: 50%;
    box-shadow: black 0px 0px 50px;
}

.obj2 {
    width: 300px;
    height: 300px;
    right: 20%;
    top: 20%;
    box-shadow: black 0 0 50px;
}

.obj3 {
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    box-shadow: black 0 0 50px;
}

.obj4 {
    width: 100px;
    height: 100px;
    left: 5%;
    top: 20%;
    box-shadow: black 0 0 50px;
}

.obj5 {
    width: 75px;
    height: 75px;
    right: 5%;
    top: 20%;
    box-shadow: black 0px 0px 50px;
}

.obj6 {
    width: 50px;
    height: 50px;
    left: 40%;
    top: 30%;
    box-shadow: black 0px 0px 50px;
}

.banner {
    background-image: url('../imgs/banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.padtop-100 {
    padding-top: 100px;
}

#upBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#bell {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0);
}

::-webkit-scrollbar-track:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}